body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    top:50%;
    left: 50%;
    width: 256px;
    position: absolute;
    text-align: center;
    border: 15px solid rgba(27, 5, 20, 0.678);
    background:rgba(27, 5, 20, 0.678); 
    border-radius: 7px;
}

.columnas{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(50px, auto);
}

input[type="text"]{
    height: 160px;
    width: 360px;
    padding: 10px;
    background-color: darkmagenta;
    text-align: right;
    font-size: 2px;
    letter-spacing: 1px;
  
}

#zero{
    grid-column: 1/3;
    grid-row: 5;

}

#quals{
    grid-column:4;
    grid-row: 4/6;
}


button{
    margin: 1px;
    border-radius: 2px;
    background: rosybrown;
    font-weight: 500;

}
